<p id="notice"><%= notice %></p>

<h1>Listing Midpoints</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @midpoints.each do |midpoint| %>
      <tr>
        <td><%= link_to 'Show', midpoint %></td>
        <td><%= link_to 'Edit', edit_midpoint_path(midpoint) %></td>
        <td><%= link_to 'Destroy', midpoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Midpoint', new_midpoint_path %>
